.env
.env.*
/.vscode
/node_modules
/vendor
/storage/*.key
/storage/app/*
!/storage/app/.gitignore
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/public/storage
/bootstrap/cache/*.php
/tests/coverage
/npm-debug.log
/yarn-error.log
/FitoAgro.bak-*
/app/app.rar
